<h1>Machine Configuration</h1>
<form action="/config" method="post">
<input type="submit" value="Change" />
<input type="reset" value="Reset" />
<table >
<% ConfigurationClient::config().keys.sort_by { |k| k.to_s }.each_with_index do |k,i| v = config(k); kind = v.class; %>
  <tr class="<%= i.odd? ? 'oddrow' : 'evenrow' %>"><td class="input"><label for="<%= k %>"><%= k %></label>
  <input type="hidden" class="config" name="<%= k.to_s + "_kind" %>" value="<%= kind %>" /></td>
  <td class="input"><input type="text" class="config" id="<%= k %>" name="<%= k %>" value="<%= CGI.escapeHTML(v.inspect) %>" /></td></tr>
<% end %>
</table>
<input type="submit" value="Change" />
</form>
<%= erb :homeButton, :layout => false %>
