<%#  locals: this_page, log_name, refresh, follow %>
<h1><%= log_name.to_s %></h1>
<form class=debuglogoptions action="<%= this_page + (follow ? "#endofpage" : "") %>">
Refresh (seconds): <input class="refresh" type="text" name="refresh" value="<%= refresh %>" /><input type="submit" value="Change!" />
Follow: <input type="checkbox" name="follow" value="true" />
<br /></form>
<table class="runsummary">
  <% File.open(log_name.to_s, "r") do |f| f.each_line do |line| fields=CGI.escapeHTML(line.chomp).split(',') %>
    <tr><td><%= fields.join("</td><td>") %></td></tr>
  <% end; end %>
</table>
<%= erb :homeButton, :layout => false %>
