<%#  locals: this_page, log_name, refresh, follow %>
<h1><%= log_name.to_s %></h1>
<form class=debuglogoptions action="<%= this_page + (follow ? "#endofpage" : "") %>">
Refresh (seconds): <input class="refresh" type="text" name="refresh" value="<%= refresh %>" /><input type="submit" value="Change!" />
Follow: <input type="checkbox" name="follow" value="true" />
<br /></form>
<pre class="debugLog">
Contents of file <%= log_name.to_s %>:
<%= File.open(log_name.to_s, "r") {|f| CGI.escapeHTML(f.read) } || '(empty)' %>
</pre><%= erb :homeButton, :layout => false %>
