<%# locals: dut, calibrator, pattern %>
<h1><%= dut.name %></h1>
<h2><%= dut.serialNumber %></h2>
<% if calibrator.activeDevices.include? dut %>
<ul>
<li><a href="/gv/chart/<%= dut.unitLog.path %>?pattern=<%= pattern %>">View Graph of Data Log</a>
<li><a href="/dut/<%= dut.name %>/log">View Data Log as text</a>
<li><a href="/dut/<%= dut.name %>/log/download">Download Data Log as CSV file</a>
<li><a href="/iostatus">Machine IO status</a>
</ul>
<% else %>
<p>Device not active</p><br>
<a href="/gv/dir/<%= config(:CSVDirectory) %>?pattern=<%= pattern %>">Historical data log graphs</a>
<% end %>
<%= erb :homeButton, :layout => false %>
