<%# locals: request, calibrator %>
<h1>Zeno GC29 Tester/Calibrator</h1>
<h2><%= calibrator.stateAndErrorSummary("<br>") %></h2>
<ul>
<li><a href="/log">Log file</a>
<li><a href="/serverlog">Web server log file</a>
<li><a href="/iostatus">IO Status</a>
<li><a href="/config">Machine Configuration</a>
<li><a href="/mode">Machine run mode</a>
<li><a href="/summary">Run summary</a>
<li><a href="/summary/download">Download run summary</a>
<li><a href="/discCalHistory">Disc Calibration History</a>
<li><a href="/gv/dir/<%= config(:CSVDirectory) %>/*.csv">Historical data log graphs</a>
<li><a href="/docs">On-line documentation</a>
<% calibrator.devices.each do |dev| %>
<li><a href="/dut/<%= dev.name %>"><%= dev.name %></a>
<% end %>
</ul>
<%= erb :killButton, :layout => false %>
<%= erb :evalForm, :layout => false, :locals => { :request => request } %>
