<h1>Global Run Modes</h1>
<form action="/mode" method="post">
<input type="submit" value="Change" />
<input type="reset" value="Reset" />
<table >
<%
  config(:ModeFlagsVisible).each_with_index do |k,i|
      v = config(k.to_sym)
      kind = v.class
%>
  <tr class="<%= i.odd? ? 'oddrow' : 'evenrow' %>">
    <td class="input">
      <label for="<%= k %>"><%= k %></label>
      <input type="hidden" class="config"
        name="<%= k.to_s + "_kind" %>"
        value="<%= kind %>" />
    </td>
    <td class="input">
<%
      case v
        when true, false
%>
      <input type="checkbox" class="config" <%= v ? "checked=true" : "" %> name="<%= k %>" value=true />
<%
        else
%>
      <input type="text" class="config" id="<%= k %>" name="<%= k %>" value="<%= CGI.escapeHTML(v.inspect) %>" />
<%
      end
   end
%>
    </td>
  </tr>
</table>
<input type="submit" value="Change" />
</form>
<%= erb :homeButton, :layout => false %>
